
%footer.ms-5.me-5.d-flex.justify-content-between.align-items-center
    %p &copy; OptiSync Inc. 2024
    %div
        %a{href: "#"} Privacy Policy 
        |
        %a{href: "#"} Terms & Conditions 