<%# <h1>New admin</h1> %>

<% #render "form", admin: @admin %>

<%# <br> %>

<%# <div> %>
  <% #link_to "Back to admins", admins_path %>
<%# </div> %>

<% content_for :title, "New admin" %>

<%= render "navbar" %>

<section class="container-fluid">
  <%= render "form", admin: @admin %>
</section>

<%= render "/shared/footer" %>