<%= render partial:"/shared/navbar" %>

<form class="container row m-auto" action="/users" method="patch">
  <h1>Edit User Enrollment</h1>
  <div class="col-md-6">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="inputEmail" value=<%= @user.email %> disabled>
  </div>
  <div class="col-md-6">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="inputPassword" value=<%= @user.password %> disabled>
  </div>
  <div class="col-12">
    <label for="inputName" class="form-label">Full Name</label>
    <input type="text" class="form-control" name="full_name" id="inputName" value=<%= @user.full_name %> required>
  </div>
  <div class="col-md-4">
    <label for="inputRole" class="form-label">State</label>
    <select name="role_id" id="inputRole" class="form-select" required>
        <option value="00" selected disabled>Select the Role</option>
        <option value="01">User</option>
        <option value="02">Expert</option>
        <option value="03">Admin</option>
    </select>
  </div>
  <br>
  <div class="col-12 mt-2">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>