<h1>Names of all the Users</h1> 
<% @users.each do |user| %>
  Name: <%= user.full_name %>   <%= link_to 'View', {:action=>"show", :controller=>"users", :id=>user.id} %>
  <br>
<% end %>

<br>
<%= link_to 'Add New Users', {:action=>"new", :controller=>"users"} %>
<!--
<%= @users.pluck(:full_name) %>
-->

