<%# <form accept-charset="UTF-8" action="/users" method="post">
  <input type="text" name="user[full_name]" value="Acme" />
  <input type="text" name="user[phone]" value="12345" />
  <input type="text" name="user[address][postcode]" value="12345" />
  <input type="text" name="user[address][city]" value="Carrot City" />
</form> %>
<%# <form action="/users" method="post">
    <h1>New User Enrollment</h1>
    <div>
        <input type="text" name="full_name" id="full_name" placeholder="Enter your Full Name">
    </div>
    <div>
        <input type="email" name="email" id="email" placeholder="Enter your Email">
    </div>
    <div>
        <input type="password" name="password" id="password" placeholder="Enter your Password">
    </div>
    <div>
        <select name="role_id" id="role_id">
            <option value="00" selected disabled>Select the Role</option>
            <option value="01">User</option>
            <option value="02">Expert</option>
            <option value="03">Admin</option>
        </select>
    </div>

    <br>
    <input type="submit" value="Submit">
</form> %>
<div class="container">
    <%=  link_to 'View All', {:action=>"index", :controller=>"users"} %>
</div>
<form class="container row m-auto" action="/users" method="post">
  <h1>New User Enrollment</h1>
  <div class="col-md-6">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="inputEmail" required>
  </div>
  <div class="col-md-6">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="inputPassword" required>
  </div>
  <div class="col-12">
    <label for="inputName" class="form-label">Full Name</label>
    <input type="text" class="form-control" name="full_name" id="inputName" required>
  </div>
  <div class="col-md-4">
    <label for="inputRole" class="form-label">State</label>
    <select name="role_id" id="inputRole" class="form-select">
        <option value="00" selected disabled>Select the Role</option>
        <option value="01">User</option>
        <option value="02">Expert</option>
        <option value="03">Admin</option>
    </select>
  </div>
  <%# <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Add User
      </label>
    </div>
  </div> %>
  <br>
  <div class="col-12 mt-2">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>