<%= render partial:"/shared/navbar" %>

<div>
    <h1> Details for the User: </h1>
    <p><strong>Full Name: </strong><%= @user.full_name %></p>
    <p><strong>Email: </strong><%= @user.email %></p>
    <p><strong>Role Id: </strong><%= @user.role_id %></p>
</div>
